header {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 10;
  }
  
  header .image-bg-container {
    display: flex;
    min-width: 80%;
    min-height: 350px;
    margin: 50px 0;
    border-radius: 15px;
    background-image: url("https://cdn-www.konbini.com/fr/images/files/2019/01/gettyimages-903783188-e1577796154132.jpg?webp=");
    background-size: cover;
    background-repeat: no-repeat;
  }