header {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

header .image-bg-container {
  display: flex;
  min-width: 80%;
  min-height: 350px;
  margin: 50px 0;
  border-radius: 15px;
  background-image: url("https://podiumaanhuis.be/assets/static/5ea155fec9fa38ac66d1a5b9_zonzo_slumberland-c-dries-segers_banner.198d85a.c8db819ace03bb6e0846e25fae7bae03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}