.tag-container {
  display: flex;
  margin: 30px 0;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  background-color: #ececec;
  border-radius: 10px;
  padding: 8px 15px;
  color: #444444;
  margin: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 22px;
}

.tag.active {
  background-color: #fc2d75;
  color: white;
}

.tag.active:after {
  content: "x";
  margin-left: 10px;
  font-size: 16px;
}